* {
  font-family: "CaskaydiaCove NF", monospace;
}

window#waybar {
  background: black;
  color: #ffffff;
}

#cpu,
#custom-powerprofile,
#memory,
#network,
#clock,
#temperature,
#battery{
  color: white;
  font-size: 20px;
}

#clock:hover {
  color: #1793d1;
}

#cpu:hover {
  color: #ff6f61;
}

#memory:hover {
  color: #6a0dad;
}

#network:hover {
  color: #00ced1;
}



#custom-media:hover {
  color: #8b0000;
}


#temperature:hover {
  color: #ff6347;
}

#battery:hover {
  color: #32cd32;
}

#workspaces button {
  border: none;
  outline: none;
  box-shadow: none;
  background: transparent;
  font-weight: bold;
  color: #ffffff;
}

#workspaces button.active {
  color: #ffff00;
  font-size: 20px;
}

#workspaces button:hover {
  font-size: 20px;
  color: #ffff00;
}

#custom-arch {
  font-size:32px;
  margin-left: -5px;
  color: #1793d1;
}

#custom-docker,
#custom-mariadb,
#custom-nginx {
  font-size: 26px;
}

#custom-docker.running {
  color: #00ff00;
}

#custom-docker.not-running {
  color: #ff0000;
}

#custom-mariadb.running {
  color: #00ff00;
}

#custom-mariadb.not-running {
  color: #ff0000;
}

#custom-nginx.running {
  color: #00ff00;
}

#custom-nginx.not-running {
  color: #ff0000;
}

#custom-powerprofile.power-saver {
  color: #00ff00;
}

#custom-powerprofile.balanced {
  color: #ffff00;
}

#custom-powerprofile.performance {
  color: #ff4500;
}

#custom-powerprofile {
  font-size: 20px;
}
