* {
    font-family: "CaskaydiaCove NF", monospace;
    font-size: 15px;
    transition: color 0.3s ease-out;
}

window#waybar {
    background: transparent;
    color: #ffffff;
    border-radius: 0;
    padding: 2px;
}

.modules-left,
.modules-center,
.modules-right {
    background: #000000;
    margin: 2px;
    padding: 3px;
    border-radius: 0;
}

#clock,
#cpu,
#memory,
#disk,
#backlight,
#network,
#wireplumber,
#custom-media,
#tray,
#mode,
#scratchpad,
#mpd,
#custom-arch,
#temperature,
#custom-docker_mariadb,
#custom-powerprofiles {
    background: transparent;
    padding: 0 5px;
    margin: 0 2px;
    border-radius: 0;
    color: #ffffff;
    transition: color 0.3s ease;
    font-size: 15px;
}

#clock:hover { color: #1793d1; }
#cpu:hover { color: #ff6f61; }
#memory:hover { color: #6a0dad; }
#disk:hover { color: #ffa500; }
#backlight:hover { color: #00ff00; }
#network:hover { color: #00ced1; }
#wireplumber:hover { color: #ff69b4; }
#custom-media:hover { color: #8b0000; }
#tray:hover { color: #ffd700; }
#mode:hover { color: #40e0d0; }
#scratchpad:hover { color: #ff4500; }
#mpd:hover { color: #1e90ff; }
#custom-arch:hover { color: #1793d1;}
#temperature:hover { color: #ff6347; }
#battery:hover { color: #32cd32; }
#custom-powerprofiles:hover { color: #ff1493; }

#workspaces button {
    background: transparent;
    font-weight: bold;
    font-size: 15px;
    color: #ffffff;
    border: none;
    border-radius: 0;
    padding: 0 8px;
    margin: 0 2px;
    border-bottom: 2px solid transparent;
    outline: none;
    box-shadow: none;
}

#workspaces button.active {
    color: #ffffff;
    border-bottom: 2px solid #ffffff;
}

#workspaces button:hover {
    color: inherit;
}

#tray {
    padding-right: 5px;
}

#custom-arch {
    margin: 0 4px 0 0;
    padding: 0 5px;
    font-size: 32px;
}
