* {
  font-family: "CaskaydiaCove NF", monospace;
}

window#waybar {
  background: transparent;
  color: #ffffff;
}

.modules-left,
.modules-center,
.modules-right {
  padding: 3px;
  margin: 2px;
  background: black;
}

#clock,
#cpu,
#memory,
#network,
#temperature,
#battery{
  padding: 3px;
  margin: 2px;
  color: white;
  font-size: 16px;
}

#clock:hover {
  color: #1793d1;
}

#cpu:hover {
  color: #ff6f61;
}

#memory:hover {
  color: #6a0dad;
}

#network:hover {
  color: #00ced1;
}

#temperature:hover {
  color: #ff6347;
}

#battery:hover {
  color: #32cd32;
}

#workspaces button {
  background: transparent;
  font-weight: bold;
  font-size: 15px;
  color: #ffffff;
  border: none;
  border-radius: 0;
  padding: 0 8px;
  margin: 0 2px;
  border-bottom: 2px solid transparent;
  outline: none;
  box-shadow: none;
}

#workspaces button.active {
  color: #ffffff;
  border-bottom: 2px solid #ffffff;
}

#workspaces button:hover {
  color: inherit;
}
#custom-arch {
  margin: 0 4px 0 0;
  padding: 0 5px;
  font-size: 32px;
  color: #1793d1;
}

#custom-docker,
#custom-mariadb,
#custom-nginx {
  font-size: 26px;
  margin: 0 4px 0 0;
  padding: 0 5px;
}

#custom-docker.running {
  color: #00ff00;
}

#custom-docker.not-running {
  color: #ff0000;
}

#custom-mariadb.running {
  color: #00ff00;
}

#custom-mariadb.not-running {
  color: #ff0000;
}

#custom-nginx.running {
  color: #00ff00;
}

#custom-nginx.not-running {
  color: #ff0000;
}
